# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
env/
venv/

# Django
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.mo
*.db

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Env files
.env